<div class='row'>
  <main class='col-md-12'>
    <!-- Start your code here -->
    <div class='jumbotron'>
      <h1 class='display-4'>Welcome to my website !</h1>
      <p class='lead'>
        I will be demonstrating HTML5 principles and techniques, Routing in
        Express
      </p>
      <hr class='my-4' />
      <p>
        This site consists of 3 static views (Home, About, HTML Demo) as well as
        5 routes that supply data , including: All Students, Students by Course,
        A Single Student By Student Number, All Managers and All Courses..
      </p>
    </div>
    <p>1. Add a professional greeting that welcomes the visitor to the current
      page.</p>
    <p>2. Add a relevant header as a title for the next section (step 3) </p>
    <p>3. Add a short paragraph that states some information about yourself
      including a minimum of your student name, id and program</p>

    <!-- End your code here  -->
  </main>
</div>