<div class='row'>
  <main class='col-md-12'>
    <!-- Start your code here -->
    <div class='jumbotron'>
      <h1 class='display-4'>Welcome to my website !</h1>
      <p class='lead'>
        I will be demonstrating HTML5 principles and techniques, Routing in
        Express
      </p>
      <hr class='my-4' />
      <p>
        This site consists of 3 static views (Home, About, HTML Demo) as well as
        5 routes that supply data , including: All Students, Students by Course,
        A Single Student By Student Number, All Managers and All Courses..
      </p>
    </div>
    <p>
      1. Add a professional greeting to the visitor, ie: "Welcome to my website,
      I will be demonstrating HTML5 principles and techniques, Routing in
      Express"… and so on.
    </p>
    <p>2. Add a relevant header as a title for the next section (step 3)</p>
    <p>3 .Add a short paragraph that introduces this website, for example: "This
      site consists of 3 static views (Home, About, HTML Demo) as well as 5
      routes that supply data , including: All Students, Students by Course, A
      Single Student By Student Number, All Managers and All Courses. NOTE: This
      paragraph must include all relevant links to the 8 pages – for the
      "Student by Student Number link, just use a working link to a random
      student, ie /student/2 and for the "Students by Course" link, you can use
      a working link to a random course, ie /students?course=3</p>
    <p>4. Add a relevant header as a title for the next section (step 5)</p>
    <p>5.. Add a short paragraph introducing HTML 5, ie: "This site utilizes
      HTML5: a markup language used for structuring and presenting content on
      the World Wide Web"… and so on.</p>
    <!-- End your code here  -->
  </main>
</div>